# {{ ansible_managed }}

[Unit]
Description=File hosting service with encryption
Documentation=https://framagit.org/luc/lufi
Requires=network.target
After=network.target

[Service]
Type=forking
User={{ lufi_user }}
RemainAfterExit=yes
WorkingDirectory={{ lufi_working_dir }}/
PIDFile={{ lufi_working_dir }}/script/hypnotoad.pid
ExecStart=/usr/local/bin/carton exec hypnotoad script/lufi
ExecStop=/usr/local/bin/carton exec hypnotoad -s script/lufi
ExecReload=/usr/local/bin/carton exec hypnotoad script/lufi

[Install]
WantedBy=multi-user.target
