# {{ ansible_managed }}

####################
# Get the in-depth version with detailed explanations here:
# https://framagit.org/luc/lufi/blob/master/lufi.conf.template
####################

{
    hypnotoad => {
        listen => {{ [lufi_listen] | flatten | to_json }},
{{ "        proxy => %s," % lufi_proxy | ternary(1,0) if lufi_proxy is defined else "" }}
        workers => {{ lufi_workers }},
        clients => {{ lufi_clients }},
    },
    contact => '{{ lufi_contact }}',
    secret => {{ lufi_secrets | to_json }},
{{ "    theme => '%s',"             % lufi_theme             if lufi_theme is defined             else "" }}
{{ "    length => %s,"              % lufi_url_length        if lufi_url_length is defined        else "" }}
{{ "    provis_step => %s,"         % lufi_provis_step       if lufi_provis_step is defined       else "" }}
{{ "    provisioning => %s,"        % lufi_provisioning      if lufi_provisioning is defined      else "" }}
{{ "    token_length => %s,"        % lufi_token_length      if lufi_token_length is defined      else "" }}
{{ "    max_file_size => %s,"       % lufi_max_file_size     if lufi_max_file_size is defined     else "" }}
{{ "    piwik_img => '%s',"         % lufi_piwik_img         if lufi_piwik_img is defined         else "" }}
{{ "    broadcast_message => '%s'," % lufi_broadcast_message if lufi_broadcast_message is defined else "" }}
{{ "    default_delay => %s,"       % lufi_default_delay     if lufi_default_delay is defined     else "" }}
{{ "    max_delay => %s,"           % lufi_max_delay         if lufi_max_delay is defined         else "" }}
{% if lufi_delay_for_size is mapping %}
    delay_for_size  => {
{% for key in lufi_delay_for_size %}
        {{ "%s => %s," | format(key, lufi_delay_for_size[key]) }}
{% endfor %}
    },
{% endif %}
{{ "    prefix => '%s',"        % lufi_prefix                    if lufi_prefix is defined          else "" }}
{{ "    allowed_domains => %s," % lufi_allowed_domains | to_json if lufi_allowed_domains is defined else "" }}
{{ "    fixed_domain => '%s',"  % lufi_fixed_domain              if lufi_fixed_domain is defined    else "" }}
{% if lufi_mail is mapping %}
    mail => {
        {{ "how     => '%s'," % lufi_mail.how               if lufi_mail.how     else "" }}
        {{ "howargs => %s,"   % lufi_mail.howargs | to_json if lufi_mail.howargs else "" }}
    },
{% endif %}
{{ "    mail_sender => '%s'," % lufi_mail_sender if lufi_mail_sender is defined else "" }}
{{ "    dbtype => '%s',"      % lufi_db_type     if lufi_db_type is defined     else "" }}
{{ "    db_path => '%s',"     % lufi_db_path     if (lufi_db_type is not defined or lufi_db_type == 'sqlite') and lufi_db_path is defined else "" }}
{% if lufi_db_type is defined and lufi_db_type == 'postgresql' and lufi_pgdb is mapping %}
    pgdb => {
        {{ "database => '%s'," % lufi_pgdb.database if lufi_pgdb.database else "" }}
        {{ "host     => '%s'," % lufi_pgdb.host     if lufi_pgdb.host     else "" }}
        {{ "user     => '%s'," % lufi_pgdb.user     if lufi_pgdb.user     else "" }}
        {{ "pwd      => '%s'," % lufi_pgdb.pwd      if lufi_pgdb.pwd      else "" }}
    },
{% endif %}
{{ "    upload_dir => '%s'," % lufi_upload_dir if lufi_upload_dir is defined else "" }}
{% if lufi_ldap is mapping %}
    ldap => {
        {{ "uri         => '%s'," % lufi_ldap.uri         if lufi_ldap.uri         else "" }}
        {{ "user_tree   => '%s'," % lufi_ldap.user_tree   if lufi_ldap.user_tree   else "" }}
        {{ "bind_dn     => '%s'," % lufi_ldap.bind_dn     if lufi_ldap.bind_dn     else "" }}
        {{ "bind_user   => '%s'," % lufi_ldap.bind_user   if lufi_ldap.bind_user   else "" }}
        {{ "bind_pwd    => '%s'," % lufi_ldap.bind_pwd    if lufi_ldap.bind_pwd    else "" }}
        {{ "user_filter => '%s'," % lufi_ldap.user_filter if lufi_ldap.user_filter else "" }}
    },
{% endif %}
{{ "    htpasswd => '%s',"                    % lufi_htpasswd                          if lufi_htpasswd is defined                      else "" }}
{{ "    session_duration => %s,"              % lufi_session_duration                  if lufi_session_duration is defined              else "" }}
{{ "    allow_pwd_on_files => %s,"            % lufi_allow_pwd_on_files | ternary(1,0) if lufi_allow_pwd_on_files is defined            else "" }}
{{ "    keep_ip_during => %s,"                % lufi_keep_ip_during                    if lufi_keep_ip_during is defined                else "" }}
{{ "    max_total_size => %s,"                % lufi_max_total_size                    if lufi_max_total_size is defined                else "" }}
{{ "    policy_when_full => '%s',"            % lufi_policy_when_full                  if lufi_policy_when_full is defined              else "" }}
{{ "    delete_no_longer_viewed_files => %s," % lufi_delete_no_longer_viewed_files     if lufi_delete_no_longer_viewed_files is defined else "" }}
};
